<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <script src="./main.js"></script>
    
    <link rel = "stylesheet" href = "./stylesheet1.css" />
  </head>
  <body>
    <h1>Chat App</h1>
    
    <div id="chat"></div>
    <h2>change Chat</h2>
    <input type="text" id="chat_id" placeholder="Chat Name" onkeydown="change_chat_on_enter(event)"/>
    <input type="password" id="chat_password" placeholder="Chat Password" onkeydown="change_chat_on_enter(event)"/>
    <button onclick="change_password_visibility()" value=false id="password_visibility_button">Show Password</button>
    <button onclick="change_chat()">Change Chat</button>
    <button onclick="create()">Create Chat</button>


    <div id="message_field">
      <div id="message_list"></div>
    </div>
    <div id="chat_name">Join a chat to send messages</div>

    <div id="no_chat">You are not in a chat, you can't send messages!</div>
    <input type="text" id="message_input" placeholder="Join a chat to send messages" onkeydown="send_message_on_enter(event)"/>
    <button onclick="send()" id="send_message_button">Send Message</button>

    <h2>Clear Chat</h2>
    <button onclick="clear_current_chat()">Clear Chat</button>

  </body>
</html>