<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <script src="./main.js"></script>
  </head>
  <body>
    <h1>Chat App</h1>
    
    <h2>Send Message</h2>
    <label for="chat_id">Chat ID:</label>
    <input type="text" id="chat_id" name="chat_id"><br>
    <label for="message">Message:</label>
    <input type="text" id="message" name="message"><br>
    <label for "password">Password:</label>
    <input type="password" id="password" name="password"><br>
    <button onclick="send()">Send Message</button>
    
    <h2>Create Chat</h2>
    <label for="new_chat_id">Chat ID:</label>
    <input type="text" id="new_chat_id" name="new_chat_id"><br>
    <label for="new_chat_password">Password:</label>
    <input type="password" id="new_chat_password" name="new_chat_password"><br>
    <button onclick="create()">Create Chat</button>
    
    <h2>Get Messages</h2>
    <label for="get_chat_id">Chat ID:</label>
    <input type="text" id="get_chat_id" name="get_chat_id"><br>
    <label for="get_chat_password">Password:</label>
    <input type="password" id="get_chat_password" name="get_chat_password"><br>
    <button onclick="get()">Get Messages</button>

    <h2>clear</h2>
    <label for="clear_chat_id">Chat ID:</label>
    <input type="text" id="clear_chat_id" name="clear_chat_id"><br>
    <label for="clear_chat_password">Password:</label>
    <input type="password" id="clear_chat_password" name="clear_chat_password"><br>
    <button onclick="clear()">Clear Messages</button>
  </body>
</html>