<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <script src="./login.js"></script>

    <link rel = "stylesheet" href = "./stylesheet_login.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
    <div id="welcome_text">FCHAT</div>
    <input type="text" id="username" name="username" placeholder="Username" onkeydown="login_on_enter(event)"><br>
    <div id="password_input">
        <input type="password" id="password" placeholder="Password" onkeydown="login_on_enter(event)" />
        <button class="material-symbols-outlined" onclick="change_password_visibility()" value=false id="password_visibility_button">visibility<br>
    </div>
    <button id="login_button" onclick="login()">Login</button>
    <div class="line" id="line-left"></div>
    <div id="line-text">or</div>
    <div class="line" id="line-right"></div>
    <button id="google_login" onclick="login()">Login with Google</button>
</body>
</html>