#chat_div {
    right: 0px;
    top: 0px;
    width: 80%;
    height: 80%;
    background-color: #455ad4;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.incoming_message {
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    float: left;
    position: relative;
}

.message_timestamp {
    position: absolute;
    bottom: 1px;
    right: 2px;
    font-size: 10px;
    color: #a6a6a6;
}

.message_sender {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Work Sans", sans-serif;
}

.message_content {
    position: absolute;
    font-size: 15px;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Work Sans", sans-serif;
}