<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Send Message</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/chat.js"></script>
  </head>
  <body>
    <label for="chat_id">Chat ID:</label>
    <input type="text" id="chat_id"><br>
    <label for="sender">Sender:</label>
    <input type="text" id="sender"><br>
    <label for="content">Content:</label>
    <input type="text" id="content"><br>
    <label for="response_to">Response To:</label>
    <input type="text" id="response_to"><br>
    <label for="chat_name">Chat Name:</label>
    <input type="text" id="chat_name"><br>
    <label for="chat_password">Chat Password:</label>
    <input type="text" id="chat_password"><br>
    <br>

    <button onclick="get_chat(document.getElementById('chat_id').value)">Get Chat</button>
    <button onclick="create_chat(document.getElementById('chat_name'), document.getElementById('chat_password'))">Create Chat</button>
    <button onclick="send_message(document.getElementById('chat_id').value, document.getElementById('sender').value, document.getElementById('content').value, document.getElementById('response_to').value)">Send Message</button>
    
    <div id="chat_div">
      chat lol
    </div>

</body>
  
</html>