/* Set font to Roboto */
body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
  color: #fff;
}

/* Style input fields */
input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  background-color: #444;
  color: #fff;
}

/* Style buttons */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
}

/* Hover effect for buttons */
button:hover {
  background-color: #0062cc;
}

/* Style headings */
h1, h2 {
  font-weight: bold;
  margin-top: 30px;
}

/* Style message list */
#message_list {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  padding: 10px;
  width: 70%;
  height: 600px;
  overflow-y: auto;
  margin: 0 auto;
  background-color: #444;
}

/* Remove default outline on focus */
:focus {
  outline: none;
}

.message {
  clear: both;
  margin-bottom: 10px;
}

.sender {
  font-size: 10px;
  margin-bottom: 5px;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  float: left;
}

.user_sender {
  font-size: 10px;
  margin-bottom: 5px;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  float: right;
}

.text {
  padding: 5px;
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
  background-color: #333;
  font-size: 28px;
  color: #fff;
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  float: left;
  clear: both;
  margin-bottom: 5px;
}

.user_text {
  padding: 5px;
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
  background-color: #55e95d;
  font-size: 28px;
  color: #fff;
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  float: right;
  clear: both;
  margin-bottom: 5px;
}
