/* Set font to Roboto */
body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
  color: #fff;
}

/* Style input fields */
input[type="text"] {
  width: 150px;
  height: 36px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  background-color: #444;
  color: #fff;
}

/* Style password fields */
input[type="password"] {
  width: 150px;
  height: 36px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  background-color: #444;
  color: #fff;
}

/* Style buttons */
button {
  height: 38px;
  width: 154px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
}

/* Hover effect for buttons */
button:hover {
  background-color: #0062cc;
}

/* Style headings */
h1, h2 {
  font-weight: bold;
  margin-top: 30px;
}

#message_field {
  position: absolute;
  left: 15%;
  top: 263px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
  width: calc(70% + 20px);
  height: 620px;
  overflow-y: auto;
  margin: 0 auto;
  background-color: #444;
}

/* Style message list */
#message_list {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: calc(100% - 62px);
  overflow-y: auto;
  margin: 0 auto;
}

/* Remove default outline on focus */
:focus {
  outline: none;
}

/* Style message input*/
#message_input {
  position: absolute;
  left: 16.5%;
  top: 830px;
  width: calc(67% - 145px);
  height: 38px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background-color: #4b4b4b;
}

#send_message_button{
  position: absolute;
  right: calc(16.5% - 20px);
  top: 830px;
  height: 40px;
}

.message {
  clear: both;
  margin-bottom: 10px;
}

.sender {
  font-size: 10px;
  margin-bottom: 5px;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  float: left;
}

.user_sender {
  font-size: 10px;
  margin-bottom: 5px;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  float: right;
}

.text {
  padding: 5px;
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
  background-color: #333;
  font-size: 28px;
  color: #fff;
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  float: left;
  clear: both;
  margin-bottom: 5px;
}

.user_text {
  padding: 5px;
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
  background-color: #55e95d;
  font-size: 28px;
  color: #fff;
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  float: right;
  clear: both;
  margin-bottom: 5px;
}

#chat_name {
  position: absolute;
  left: 50%;
  top: 272px;
  transform: translate(-50%, 0%);
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

#no_chat{
  position: absolute;
  left: 16.5%;
  top: 830px;
  width: 480px;
  height: 30px;
  padding: 5px;
  visibility: visible;
  border-radius: 7px;
  background: #ff0000;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-self: center;
  transition: linear 0.4s;
}